# Miele API Credentials
MIELE_CLIENT_ID=YOUR_CLIENT_ID
MIELE_CLIENT_SECRET=YOUR_CLIENT_SECRET



# PLZ for Weather/Solar
LOCATION_PLZ=12345

# Home Assistant Long Live Token
HA_LL_TOKEN=YOUR_HA_LONG_LIVED_TOKEN
